
  <mat-toolbar color="primary">
    <span>DANE</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard/modulo1">Modulo 1</button>
    <button mat-button routerLink="/dashboard/modulo2">Modulo 2</button>
    <button mat-button routerLink="/dashboard/moudlo3">Modulo 3</button>
    <span class="example-spacer"></span>
    <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
    <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
