.container{
  margin-top: auto;
  margin-right: auto; 
  margin-left: auto;
  padding: 10px;
}

.example-section {
  display: flex;
  margin: 12px 0;
}
  
.example-margin {
  margin: 0 12px;
}
  .container {
    margin: auto;
  }
.mat-form-field{
margin-top: auto;
top: 50%; left: 0%;
font-size: 16px;
}
.guardar{
  text-align: right;
}


.example-headers-align .mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: auto;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-form-field {
  margin-right: 20px;
}
.ducument{
  height:80px;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;

  margin-top: auto;
  margin-right: auto; 
  margin-left: auto;
  padding: 10px;


}
.input{
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;


}
table {
  width: 100%;
}
.example-full-width{

  width: 100%;
}

.fecha{
width: 25%;

}