
<app-navbar></app-navbar>

<div class="container">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel class="contenedor">
          <!--modulo 1-->
          <mat-expansion-panel-header>
            <mat-panel-title>
              MÓDULO 3 - IDENTIFICACIÓN Y DATOS GENERALES
            </mat-panel-title>
            <mat-panel-description> IDENTIFICACIÓN Y DATOS GENERALES 
              <mat-icon>horizontal_split</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
              
              <div class="example-button-row">
                <button mat-raised-button color="primary"  (click)="guardar()">GUARDAR</button>
              </div>
      </mat-expansion-panel>
      
    </mat-accordion>
  </div>
